@model IEnumerable<BeanStore.Models.det_order>
<hr />
<h4>Order details</h4>
<table class="table">
    <tr>
        <th>
            Item
        </th>
        <th>
            Quantity
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <!--Html.ActionLink("Edit", "Edit_det_order", new { id = item.id }) |-->
                @Html.ActionLink("Delete", "Delete_det_order", new { id = item.id })
            </td>
        </tr>
    }
</table>
