@foreach (var item in Model)
{
    <div class="banner banner-1">
        <img src="~/images_brand/@item.banner_link" />
        <div class="banner-caption">
            <h1 style="color:white">@item.name </h1>
            <a href="@Url.Action("Items_Brand", "Bean", new { id = item.id})">
                <button href="@Url.Action("Items_Brand", "Bean", new { id = item.id})" class="primary-btn">Shop Now</button>
            </a>
        </div>
    </div>
}