@using (Html.BeginForm("Item_Search", "Bean"))
{
    <div>
        <input class="input search-input" type="text" name="txtKey" placeholder="Enter your keyword">
        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
    </div>
}