@{
    ViewBag.Title = "Order_confirmation";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Thank you!</h2>
                    </div>
                    <div class="product-tab">
                        <div class="tab-content">
                            <h4>
                                Your order has been noted by us. We will contact you as soon as possible and deliver on time. <a href="@Url.Action("Index", "Bean")"> Back to home?</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->