@foreach (var item in Model)
{
    <thead>
        <tr>
            <th style="width: 15%"></th>
            <th style="width: 40%"></th>
            <th style="width: 20%" class="text-center">Quantity</th>
            <th style="width: 20%" class="text-center">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="thumb"><img src="~/images_product/@item.item.image_link"></td>
            <td class="details">
                <a href="#">@item.item.name</a>
                <ul>
                    <li><span>Memory version: ---</span></li>
                    <li><span>Color: ---</span></li>
                </ul>
            </td>
            <th></th>
            <td class="qty text-center" style="font-size:18px">@item.quantity</td>
            <td class="total text-center"><strong class="primary-color">$@item.amount</strong></td>
        </tr>
    </tbody>
}